<% if user_signed_in? %>
	<%else %>
<div class="hero-unit">
	<h1>Welcome to Chris Upjohn's first rails project!</h1>
	<p>
		I'm learning to be a code ninja. In the meantime, you can pin things here.
		<%= link_to " ","http://mavenmarket.com"%>
	</p>
	<p>
		<%= link_to "Get Started Now!",new_user_registration_path, class: "btn btn-large btn-success" %>
	</p>
</div>
<% end %>