<div class="hero-unit">
	<h1>Welcome to Chris Upjohn's first rails project!</h1>
	<p>
		You've found the home page for what will someday be
		<%= link_to "MavenMarket","http://mavenmarket.com"%>.
	</p>
	<p>
		<%= link_to "Get Started Now!","#",class: "btn btn-large btn-success" %>
	</p>
</div>