<% if user_signed_in? %>
	<h1>You're logged in!</h1>
	<%else %>
<div class="hero-unit">
	<h1>Welcome to Chris Upjohn's first rails project!</h1>
	<p>
		You've found the home page for what will someday be
		<%= link_to "MavenMarket","http://mavenmarket.com"%>.
	</p>
	<p>
		<%= link_to "Get Started Now!",new_user_registration_path, class: "btn btn-large btn-success" %>
	</p>
</div>
<% end %>